<div class="fluid-container">
  <div class="row">
    <form [formGroup]="listCountries" class="container">
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="row mx-0"
        formControlName="selectedCountry"
      >
        <mat-radio-button
          class="card col-4 shadow-sm"
          *ngFor="let country of countries"
          [value]="country.name"
          required
          (click)="validateCrtStep(country.name)"
        >
          <div class="card-header">
            <p class="card-text">
              {{ country.name }}
            </p>
          </div>
          <div class="card-body">
            <span class="flag-icon flag-icon-{{ country.icon }}"></span>
          </div>
        </mat-radio-button>
      </mat-radio-group>
      <div class="card col-4 shadow-sm">
        <div class="card-body text-center">
          <a class="addNewAnchor" (click)="openDialog()">+</a>
        </div>
      </div>
    </form>
  </div>
</div>
