<div class="fluid-container">
  <div class="row">
    <form [formGroup]="listNamespaces" class="container">
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="row mx-0"
        formControlName="selectedNameSpace"
      >
        <mat-radio-button
          class="card col-4 shadow-sm"
          *ngFor="let namespace of namespaces"
          [value]="namespace.name"
          required
          (click)="validateCrtStep(namespace.title)"
        >
          <div class="card-header">
            <p class="card-text">
              {{ namespace.name }}
            </p>
          </div>
          <div class="card-body">
            <i class="material-icons my-4 text-center">
              {{ namespace.icon }}
            </i>
          </div>
        </mat-radio-button>
      </mat-radio-group>
      <div class="card col-4 shadow-sm">
        <div class="card-body text-center">
          <a class="addNewAnchor" (click)="openDialog()">+</a>
        </div>
      </div>
    </form>
  </div>
</div>
